{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <main class="main-form main-login">
        <div class="container">
            <div class="section-box">
                <div class="form-display">
                    <div>
                        <h1>Connexion</h1>
                    </div>
                    <form method="post">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% if error %}
                            <div class="error flash-message">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        {% if app.user %}
                            <div class="connected">
                                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                        <div class="form-field">
                            <label for="username">Email</label>
                            <input type="email" placeholder="Saisissez votre email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="form-field">
                            <label for="password">Mot de passe</label>
                            <input type="password" placeholder="Saisissez votre mot de passe" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        </div>
                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >
                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html
                            <div class="checkbox mb-3">
                                <input type="checkbox" name="_remember_me" id="_remember_me">
                                <label for="_remember_me">Remember me</label>
                            </div>
                        #}
                        <div class="bloc-btn">
                            <button class="btn" type="submit">
                                Se connecter
                            </button>
                            <a class="forget" href={{ path('app_forgot_password') }}>Mot de passe oublié</a>
                        </div>
                    </form>                  
                </div>
            </div>
        </div>
    </main>
{% endblock %}
