{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
	<main class="main-form main-register">
		<div class="container">
			<div>
				<h1> S'incrire</h1>
			</div>
			{{ form_start(userForm) }}

			<div class="form-field">
				{{ form_label(userForm.pseudo) }}
				{{ form_widget(userForm.pseudo) }}
			</div>

			<div class="form-field">
				{{ form_label(userForm.email) }}
				{{ form_widget(userForm.email) }}
			</div>

			<div class="form-field">
				{{ form_label(userForm.password.first) }}
				{{ form_widget(userForm.password.first) }}
			</div>

			<div class="form-field">
				{{ form_label(userForm.password.second) }}
				{{ form_widget(userForm.password.second) }}
			</div>

			<div class="submit-btn-container">
				<button class="btn">Valider</button>
			</div>


			{{ form_end(userForm) }}
		</div>
	</main>



{% endblock %}