{% extends 'base.html.twig' %}

{% block title %}Envoi du mail pour changement de mot de passe!{% endblock %}

{% block body %}
    <main class="main-form main-request">
        <div class="container">
            <div class="section-box">
                <div class="form-display">
                    <div>
                        <h1>Mot de passe oublié ?</h1>
                    </div>
                    {% for message in app.flashes('success') %}
                        <div class="flash-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('danger') %}
                        <div class="flash-danger">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('error') %}
                        <div class="flash-danger">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {{ form_start(requestForm) }}

                        <div class="form-field">
                            {{ form_label(requestForm.email) }}

                            {{ form_errors(requestForm.email) }}

                            {{ form_widget(requestForm.email) }}
                        </div>
                        <div class="bloc-btn">
                            <button class="btn" type="submit">Envoyer le lien</button>
                        </div>

                    {{ form_end(requestForm) }}

                </div>
            </div>
        </div>
    </main>
{% endblock %}
