{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
    <main>
        <section class="request">
            <div class="container">
                <div class="requestform">
                    <h1>Recuperation Mot de passe</h1>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                    {{ form_start(requestForm) }}
                    <div class="requestspace">
                        {{ form_row(requestForm.email, {'row_attr': {'class': 'form-row'}}) }}
                        <button class="requestbtn" type="submit">Envoyer</button>
                    </div>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </section>
    </main>

{% endblock %}


