{% extends 'base.html.twig' %}

{% block title %}Hello RecettesController!{% endblock %}

{% block body %}
    <main class="recettesmain">
            <section class="recetteshero">
                <div class="container recettealignhero">
                    <h1>Vos recettes</h1>
                    <p class="herorecetteparagraph">
                        Découvrez ici toutes vos recettes préférées, partagées avec amour par la communauté.
                        Et si le cœur vous en dit, vous pouvez vous aussi contribuer en ajoutant vos propres recettes
                        Le bouton « Ajouter une recette » apparaît lorsque vous êtes connecté.
                        S’il n’est pas visible, il vous suffit de vous inscrire puis de vous connecter pour rejoindre l’aventure !
                    </p>
                    {% if is_granted('ROLE_USER') %}
                        <a class="addrecette" href={{path('add_recette')}}>Ajouter une recette</a>
                    {% endif %}
                </div>
            </section>
        <div class="container">
            <div class="bgsections">
                <div class="layoutcards">
                    {% for recette in recettes %}
                        <div class="card">
                            <div class="cardimg">
                                <img src={{asset('uploads/images/' ~ recette.image)}} alt="Image de pizza">
                            </div>
                            <div class="cardcontain">
                                <div class="cardtext">
                                    <div class="cardtextespace">
                                        <h3 style="background-color: {{ recette.typeRepas.couleur }};" class="cardtyperepas">{{ recette.typeRepas.nom }}</h3>
                                        <h2>{{recette.titre}}</h2>
                                        <p class="cardnbperson"><strong>Pour : </strong>{{recette.nombrepersonne}} personnes</p>
                                        <p class="carddescription"><strong>Description : </strong>{{recette.description}}</p>
                                        <p class="cardauteur">Ajoutée par <strong>{{ recette.user.pseudo }}</strong></p>
                                    </div>
                                    <a class="btnvoirplus" href="{{ path('app_detail', { id: recette.id }) }}">Voir plus</a>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
