{% extends 'base.html.twig' %}

{% block title %}Hello RecettesController!{% endblock %}

{% block body %}
    <main class="recettesmain">
        <div class="container">
            <div class="bgsections">
                <h1></h1>
                <div class="layoutcards">
                    {% for recette in recettes %}
                        <div class="card">
                            <div class="cardimg">
                                <img src={{asset('uploads/images/' ~ recette.image)}} alt="Image de pizza">
                            </div>
                            <div class="cardcontain">
                                <div class="cardtext">
                                    <div class="cardtextespace">
                                        <h3 style="background-color: {{ recette.typeRepas.couleur }};" class="cardtyperepas">{{ recette.typeRepas.nom }}</h3>
                                        <h2>{{recette.titre}}</h2>
                                        <p class="cardnbperson"><strong>Pour : </strong>{{recette.nombrepersonne}} personnes</p>
                                        <p class="carddescription"><strong>Description : </strong>{{recette.description}}</p>
                                        <p class="cardauteur">Ajoutée par <strong>{{ recette.user.pseudo }}</strong></p>
                                    </div>
                                    <a class="btnvoirplus" href="{{ path('app_detail', { id: recette.id }) }}">Voir plus</a>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
