{% extends 'base.html.twig' %}

{% block title %}Toutes nos recettes!{% endblock %}

{% block body %}
    <section class="recette-hero">
        <div class="container recette-hero-display">
            <h1>Les recettes</h1>
            <p>Découvrez ici toutes vos recettes préférées, partagées avec amour par la communauté.</p>
            <p>
                Et si le cœur vous en dit, vous pouvez vous aussi contribuer en ajoutant vos propres recettes,le bouton 
                « Ajouter une recette » apparaît lorsque vous êtes connecté.
            </p>
            <p>
                S’il n’est pas visible, il vous suffit de vous inscrire puis de vous connecter pour rejoindre l’aventure !
            </p>
            {% if is_granted('ROLE_USER') %}
                <a class="btn" href="{{ path('app_recette') }}">Ajouter une recette</a>
            {% else %}
                <a class="btn" href={{path('app_login')}}>Connexion</a>
            {% endif %}
        </div>
    </section>
    <section class="all-recettes">
        <div class="container">
            <div class="section-box">
                <div class="card-display ">
                    {% for recette in recettes %}
                        <div class="card">
                            <div class="card-img">
                                {% if recette.imageName %}
                                    <img src="{{ asset('images/upload/' ~ recette.imageName) }}" alt="{{ recette.titre }}">
                                {% else %}
                                    <div class="no-img">
                                        <p>Pas d'image</p>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card-contain">
                                <p class="etiquette" style="background-color: {{ recette.typerepas.couleur }};">{{ recette.typerepas.type }}</p>

                                <h2 class="card-title">{{ recette.titre }}</h2>

                                <p class="card-personnes"><span>Pour : </span>{{ recette.nombrepersonne }} personnes</p>

                                <p class="card-desciption"><span>Description : </span>{{ recette.description }}</p>

                                <p>Ajoutée par <span>{{ recette.user.pseudo }}</span></p>
                                
                                <a class="btn" href={{ path('show_recette', { id: recette.id }) }}>Voir plus</a>
                            </div>
                        </div>
                    {% else %}
                        <p>Aucune recette pour le moment.</p>
                    {% endfor %}               
                </div>

            </div>
        </div>
    </section>
{% endblock %}
