{% extends 'base.html.twig' %}

{% block title %}Formulaire d'ajout pour de nouvelles recettes !{% endblock %}

{% block body %}
	<main class="main-form main-recetteform">
		<div class="container">
			<div class="section-box">
				<div class="form-display">
					{# Ternaire pour vérifier l'existance de la variable 'isModification' #}
					<h1> {{ isModification ? 'Modifier une recette' :  'Ajouter une recette' }}</h1>

					{{ form_start(recetteForm) }}

						<div class="form-field">
							{{ form_label(recetteForm.titre, 'Nom de la recette') }}
							{{ form_errors(recetteForm.titre) }}
							{{ form_widget(recetteForm.titre) }}
						</div>

						<div class="form-field">
							{{ form_label(recetteForm.nombrepersonne, 'Nombre de personne') }}
							{{ form_errors(recetteForm.nombrepersonne) }}
							{{ form_widget(recetteForm.nombrepersonne) }}
						</div>

						<div class="form-field">
							{{ form_label(recetteForm.description) }}
							<p>(Donnez une description à votre recette, pour donné envie à vos lecteurs d’y gouté)</p>
							{{ form_errors(recetteForm.description) }}
							{{ form_widget(recetteForm.description) }}
						</div>

						<div class="form-field">
							{{ form_label(recetteForm.typerepas, 'Type de repas') }}
							<p>(Entrée, plat ou dessert...)</p>
							{{ form_errors(recetteForm.typerepas) }}
							{{ form_widget(recetteForm.typerepas) }}
						</div>

						<div class="form-field">
							{{ form_row(recetteForm.imageFile) }}
						</div>
						<div class="ingredient-zone form-field">
							<label for="ingredient-search">Ingredients</label>
							<p>(Pour chaque ingredient tapez son nom et selectionnez-le pour l’ajouter à votre liste)</p>
							<input type="text" id="ingredient-search" placeholder="Rechercher un ingrédient">
							<div id="ingredient-results"></div>
							<div id="selected-ingredients">
								{% for dosage in recette.dosages %}
									<div class="recipe">
										<input type="hidden" name="ingredients[]" value="{{ dosage.ingredient.id }}">

										<span>{{ dosage.ingredient.nom }}:</span>

										<div>
											<input
												type="number"
												name="dosages[{{ dosage.ingredient.id }}]"
												value="{{ dosage.dosage }}"
												min="1"
												max="100000"
											>

											<span>{{ dosage.ingredient.mesure }}</span>

											<button type="button" class="remove-ingredient btn">X</button>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>

						<div class="form-field">
							{{ form_label(recetteForm.preparation) }}
							<p>(Ecrivez ici chaque étapes de preparation de votre recette.)</p>
							{{ form_errors(recetteForm.preparation) }}
							{{ form_widget(recetteForm.preparation) }}
						</div>
						<div class="bloc-btn">
							<button class="btn">
								{{ isModification ? 'Modifier' : 'Ajouter' }}
							</button>						
						</div>
					{{ form_end(recetteForm) }}				
				</div>
			</div>
		</div>
	</main>
{% endblock %}
