{% extends 'base.html.twig' %}

{% block title %}Hello AddrecetteController!{% endblock %}

{% block body %}
	<main>
		<section class="addrecettebg">
			<div class="container">
				{# Ternaire pour vérifier l'existance de la variable 'isModification' #}
				<h1> {{ isModification ? 'Modifier une recette' :  'Ajouter une recette' }}</h1>
				<div class="addrecetteform">
					{{form_start(recetteForm)}}
						{{form_widget(recetteForm)}}
						<button class="btnform">{{ isModification ? 'Modifier' :  'Ajouter' }}</button>
					{{form_end(recetteForm)}}
				</div>
			</div>
		</section>
	</main>

{% endblock %}
