<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Culimiam{% endblock %}</title>
        
        <link rel="icon" href={{ asset('assets/img/favicon.ico') }}>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {# {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphpHotReload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %} #}
    </head>
    <body>
        <header>
            <nav>
                <a href={{path('app_home')}}>
                    <div class="logo">
                        <img src="{{ asset('assets/img/logo.png') }}" alt="logo">
                    </div>
                </a>
                <div class="menu">
                    <div class="menu-line"></div>
                    <div class="menu-line"></div>
                    <div class="menu-line"></div>
                </div>
                <ul class="links-menu">
                    <li>
                        <a href={{path('app_home')}}>Accueil</a>
                    </li>
                    <li>
                        <a href={{ path('app_recettes')}}>Recettes</a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                    <li>
                        <a href={{ path('app_logout') }}>Déconnexion</a>
                    </li>
                    {% else %}
                    <li>
                        <a href={{path('app_login')}}>Connexion</a>
                    </li>
                    <li>
                        <a href={{path('app_register')}}>S'inscrire</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href={{ path('app_contact') }}>Contact</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('admin') }}">Admin</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <footer>
            <div class="footer-links">
                <a class="logo-footer-link" href={{path('app_home')}}>
                    <div class="logo-footer">
                        <img src="{{ asset('assets/img/logo.png') }}" alt="logo">
                    </div>
                </a>
                <div class="socials">
                    <a href="">
                        <img src="{{ asset('assets/img/facebook.png') }}" alt="">
                    </a>
                    <a href="">
                        <img src="{{ asset('assets/img/insta.png') }}" alt="">
                    </a>
                    <a href="">
                        <img src="{{ asset('assets/img/linke.png') }}" alt="">
                    </a>
                </div>
                <nav>
                    <ul class="links-menu-footer">
                        <li>
                            <a href={{path('app_home')}}>Accueil</a>
                        </li>
                        <li>
                            <a href={{ path('app_recettes')}}>Recettes</a>
                        </li>
                        {% if is_granted('ROLE_USER') %}
                        <li>
                            <a href={{ path('app_logout') }}>Déconnexion</a>
                        </li>
                        {% else %}
                        <li>
                            <a href={{path('app_login')}}>Connexion</a>
                        </li>
                        <li>
                            <a href={{path('app_register')}}>S'inscrire</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href={{ path('app_contact') }}>Contact</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('admin') }}">Admin</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <ul class="copyright">
                <li><a href={{ path('app_mention') }}>Mentions légales</a></li>
                <li>Copyright Culimiam 2026</li>
            </ul>
        </footer>
    </body>
</html>
