<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> #}
        <link rel="icon" type="image/jpg" href={{ asset('images/favicon.jpg') }}>
        {% block stylesheets %}{% endblock %}
            {{ encore_entry_link_tags('app') }}
        

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <div class="headercontain">
                    <a href={{path('app_accueil')}} class="logo">
                        <img src={{asset('images/logo.png')}} alt="logo">
                    </a>
                    <div class="menu">
                        <div class="menu-line"></div>
                        <div class="menu-line"></div>
                        <div class="menu-line"></div>
                    </div>
                    <nav class="links-menu">
                        <ul>
                            <li><a href={{path('app_accueil')}}>Accueil</a></li>
                            <li><a href={{path('app_recettes')}}>Recettes</a></li>
                            {% if not is_granted('ROLE_USER') %}
                                <li><a href={{path('app_login')}}>Connexion</a></li>
                                <li><a href={{path('app_register')}}>S'inscrire</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                                <li><a href={{path('app_logout')}}>Deconexion</a></li>
                            {% endif %}
                            <li><a href={{path('app_contact')}}>Contact</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href={{path('admin')}}>Admin</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
        <footer>
            <div class="container">
            <div class="footerorientation">
                <div class="footercontain">
                    <a href={{path('app_accueil')}} class="logo">
                        <img src={{asset('images/logo.png')}} alt="logo">
                    </a>
                    <div>
                        <ul class="socials">
                            <li><a href="https://www.facebook.com/"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-facebook-icon lucide-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg></a></li>
                            <li><a href="https://www.instagram.com/"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram-icon lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg></a></li>
                            <li><a href="https://www.linkedin.com/"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin-icon lucide-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/></svg></a></li>
                        </ul>
                    </div>
                    <nav class="navfooter">
                        <ul class="listfooter">
                            <li><a href={{path('app_accueil')}}>Accueil</a></li>
                            <li><a href={{path('app_recettes')}}>Recettes</a></li>
                            {% if not is_granted('ROLE_USER') %}
                                <li><a href={{path('app_login')}}>Connexion</a></li>
                                <li><a href={{path('app_register')}}>S'inscrire</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                                <li><a href={{path('add_recette')}}>Ajouter</a></li>
                                <li><a href={{path('app_logout')}}>Deconnexion</a></li>
                            {% endif %}
                            <li><a href={{path('app_contact')}}>Contact</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href={{path('admin')}}>Admin</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="copy">
                    <p>Copyright © 2026, Culimiam</p>
                </div>
            </div>

            </div>
        </footer>
    </body>
</html>
